@import url('footer.css');
@import url('projects.css');
@import url('nav.css');
@import url('presentation.css');
@import url('projects.css');
@import url('skillsanim.css');
@import url('about.css');

:root {
    scroll-behavior: smooth;

    --s-silver: #acacacff;
    --s-electric-violet: #7c3ffeff;
    --s-dark-green: #001a00ff;
    --s-white: #e5e5e5ff;
    --s-black: #000000ff;

    --s-nav-height:100px;    
  }


body,html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--s-white);
    /*background-image: linear-gradient(to left, var(--smoky-black) ,var(--black));*/
    color:var(--s-black)
}



body
{
    font-family:  'VT323', monospace;
}

* {
    box-sizing: border-box;
}
