@import url('aside.css');

body,html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    color:azure
}

body
{
    display: flex;
    flex-direction: row;
    font-family:  'VT323', monospace;
}

* {
    box-sizing: border-box;
}

