#presentation
{
    position: relative;
    min-height: calc(100vh - var(--s-nav-height));
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
}

#hello
{
    font-size: 50px;
    color: var(--s-black);
}

#name
{
    font-size: 50px;
    color: var(---s-dark-green);
}

#ocupation
{
    font-size: 25px;
    color: var(--s-black);
}

#name-container
{
    position: absolute;
    left: 120px;
    top: calc(var(--s-nav-height + 50px));
}

#image-presentation-container
{
    position: absolute;
    top: 80px;
    right: 80px;
}

#photo
{
    width: 600px;
    border-radius: 58% 42% 70% 30% / 38% 32% 68% 62% ;
/*    border-bottom: solid 80px var(--s-electric-violet); */
    border-right:  solid 100px var(--s-electric-violet);
}


@media only screen and (max-width: 767px) {
    
    #hello
    {
        font-size: 20px;
    }

    #name
    {
        font-size: 20px;
    }

    #ocupation
    {
        font-size: 15px;
    }

    #photo
    {
        width: 300px;
    }

    #image-presentation-container
    {
        top: 170px;
    }
}