#projects
{
    display: flex;
    flex-direction: column;    
    gap: 50px;
    padding-left: 120px;
    padding-right: 100px;
    margin-bottom: 20px;
}

#projects header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.project
{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.project-detail
{
    padding-left: 50px;
    padding-right: 50px;
    width: 500px;
}

.project img
{
    width: 50%;
}

.technologies
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
}

.technologies img
{
    width: 50px;
}

.detail-left
{
    border-bottom: 1px solid var(--s-electric-violet);
    border-left: 1px solid var(--s-electric-violet);
}

.detail-right
{
    padding-left: 10px;
    border-bottom: 1px solid var(--s-electric-violet);
    border-right: 1px solid var(--s-electric-violet);
}

@media only screen and (max-width: 767px) {
    .project img
    {
        width: 100%;
    }

    .technologies img
    {
        width: 50px;
    }
}