.projects-container
{
    display: flex;
    flex-direction: column;
}

.proyect-row
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}

.img-project
{
    width: 200px;
    object-fit: fill;
    transition: 0.5s all ease-in-out;
}
.img-project:hover {
    transform: scale(2);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 15%;
    top: 10%;
    width: 70%;
    height: 70%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.9);

}
.modal-content {
    margin: 10px auto;
    display: block;
    width: 70%;
    max-width: 600px;

}
.modal-img {
    width: 90%;
    height: auto;
}


