<div class="windows-cmd" id="windowscmd">
    <div class="window-cmd-bar" id="windowcmdbar">
      <span class="window-cmd-title">CMD</span>
      <button class="window-cmd-close" id="windowcmdclose">X</button>
    </div>
    <div class="window-cmd-content">
        <div class="home-container">

            <div>
                <p>Same Devs Profile [Version 1.0]</p>
                <p>All rights reserved</p>
            </div>
            <div>
                <p class="animated-text-writing">
                     C:\Users\Enzo Samudio
                </p>        
                <p class="animated-text-writing">
                    C:\Users\Enzo Samudio\cd Career
                </p>          
                <p class="animated-text-writing"> 
                    C:\Users\Enzo Samudio\Career\dir
                </p>     
                <div id="career-dir-list">
                    <p class="path-padding-top path-padding-left">
                        The C drive volume has no label.
                    </p>
                    <p class="path-padding-left">
                        The volume serial number is: 7E43-BDFE
                    </p>
                    <p class="path-padding-top">
                        01/01/2010  11:17             .Software Developer
                    </p> 
                </div>
                 
            </div>
        </div>
    </div>
  </div>


