<div class="aside-container">
  <div class="parts-container">
    <div class="part-description">
      <h2 id="partdescription">Personal Data</h2>
    </div>
    <div class="parts-group">
      <i onclick="onPartTogglePart(this)" id="personal-data-i" class="part-icon fa-solid fa-circle-info"></i>
      <i onclick="onPartTogglePart(this)" id="skills-i" class="part-icon fa-solid fa-lightbulb"></i>
      <i onclick="onPartTogglePart(this)" id="language-i" class="part-icon fa-solid fa-language"></i>
      <i onclick="onPartTogglePart(this)" id="works-i" class="part-icon fa-solid fa-briefcase"></i>
    </div>  
  </div>
  <div id="skill-group" class="parts-detail skill-group">
    <i class="skill-icon fa-solid fa-c"></i>
    <i class="skill-icon fa-brands fa-java"></i>
    <i class="skill-icon fa-brands fa-node"></i>
    <i class="skill-icon fa-brands fa-angular"></i>
  </div>
  <div id="currentpart">

  </div>
  <div id="personal-data-group" class="parts-detail personal-data">
    <img class="image-profile" src="assets/img/photo.jpg" alt="Profile image">
    <p>
      <span>Name: </span>
      <span>Enzo Samudio</span>
    </p>
    <p>
      <span>Old: </span>
      <span>32</span>
    </p>
    <p>
      <span>Proffesion: </span>
      <span>Software Developer</span>
    </p>
    <p>
      <span>From: </span>
      <span>Argentina</span>
    </p>
  </div>
  <div id="language-group" class="parts-detail">
    <p>
      <span>Spanish: </span>
      <span>Read, Write, Fluid Conversation</span>
    </p>
    <p>
      <span>Inglish: </span>
      <span>Read</span>
    </p>
  </div>
  <div id="works-group" class="parts-detail">
    <p>
      <span>Taquion It: </span>
      <span>Develeoper</span>
    </p>
  </div>  
</div>


