<div class="aside-container">
  <div class="parts-container">
    <div class="part-description">
      <h2 id="partdescription">Personal Data</h2>
    </div>
    <div class="parts-group">
      <i onclick="onPartTogglePart(this)" id="personal-data-i" class="part-icon fa-solid fa-circle-info"></i>
      <i onclick="onPartTogglePart(this)" id="skills-i" class="part-icon fa-solid fa-lightbulb"></i>
      <i onclick="onPartTogglePart(this)" id="language-i" class="part-icon fa-solid fa-language"></i>
      <i onclick="onPartTogglePart(this)" id="works-i" class="part-icon fa-solid fa-briefcase"></i>
    </div>  
  </div>
  <div id="currentpart">

  </div>  
 
</div>


