<div id="personal-data-group" class="parts-detail personal-data">
    <img class="image-profile" src="assets/img/photo.jpg" alt="Profile image">
    <p>
      <span>Name: </span>
      <span>Enzo Samudio</span>
    </p>
    <p>
      <span>Old: </span>
      <span>32</span>
    </p>
    <p>
      <span>Proffesion: </span>
      <span>Software Developer</span>
    </p>
    <p>
      <span>From: </span>
      <span>Argentina</span>
    </p>
    Corporation:
    <img class="same-logo" src="assets/img/logo.png" alt="Logo">
  </div>