<div class="projects-container">
    <div class="proyect-row">
        <div>
            <img class="img-project" src="assets/img/metro.png" alt="">
        </div>
        <div>
            <img class="img-project" src="assets/img/rescuers.jpg" alt="">
        </div>           
    </div>

    <img onclick="imgToogle" src="assets/img/metro.png" alt="Imagen" id="imagenModal"> <!-- La imagen que al hacer clic abrirá el modal -->

    <!-- El modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModal()">&times;</span> <!-- Botón para cerrar el modal -->
            <h2 id="tituloModal">Título de la Imagen</h2>
            <img class="modal-img" id="imagenEnModal">
        </div>
    </div>



</div>


