<div id="skill-group" class="parts-detail skill-group">
    <div class="skill-row">
        <i class="skill-icon fa-solid fa-c"></i>
        <progress value="70" max="100">99 %</progress>
    </div>
    <div class="skill-row">
        <i class="skill-icon fa-brands fa-java"></i>
        <progress value="70" max="100">70 %</progress>
    </div>
    <div class="skill-row">
        <i class="skill-icon fa-brands fa-node"></i>
        <progress value="70" max="100">70 %</progress>
    </div>
    <div class="skill-row">
        <i class="skill-icon fa-brands fa-angular"></i>
        <progress value="70" max="100">80 %</progress>
    </div>
    <div class="skill-row">
        <i class="skill-icon fa-solid fa-database"></i>
        <progress value="70" max="100">80 %</progress>
    </div>
    
</div>